<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>students</title>
</head>
<body>

<!--<h1>Hello {{name}}</h1>-->

<ul>
    {% for student in students %}
        <li>
            <a href="{% url 'update_students_class' id=student.id %}">
            {{student.name}}
            {{student.surname}}
            </a>
        </li>
    {% endfor %}
</ul>

<!--<form method="POST" action="/home/">-->
<!--    {% csrf_token %}-->
<!--    {{ form }}-->
<!--    <input type="submit">-->
<!--</form>-->

</body>
</html>